.basicsForm {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    margin-bottom: 2rem;
}

.basicsForm label {
    justify-self: end;
}

.basicsForm button {
    grid-column: 2;
    justify-self: center;
}

.basicsListed {
    margin-bottom: 2rem;
}